# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Conda
.env
*.conda

# Data
data/raw/
data/processed/
*.parquet
*.csv
*.delta
*.crc
_delta_log/
_spark_metadata/

# Ignore all generated data
notebooks/data/
notebooks/GOLD_*/

# OS
.DS_Store
Thumbs.db
